@model App_Tickets.Models.Ticket
@{
    ViewBag.Title = "Vista Soporte";
}

<h2>Panel de Soporte</h2>

@using (Html.BeginForm("VistaSoporte", "Ticket", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Ingrese su ID:")
        @Html.TextBox("id", null, new { @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-primary">Ver cantidad de tickets</button>
    </div>
}

@if (ViewBag.IdSoporte != null)
{
    <hr />
    <h3>Resumen del Día</h3>
    <p>📌 Tickets registrados hoy: <strong>@ViewBag.TicketsHoy</strong></p>
}
