@{
    ViewBag.Title = "Dashboard Analista";
}
<h2>@ViewBag.Mensaje</h2>
<p>Este es el panel para analistas.</p>

<a href="@Url.Action("Index", "Tickets")" class="btn btn-primary">Gestionar Tickets</a>

